
#include "../../../config/keymap.keymap"
#include <input/processors.dtsi>

/ {
    /* オートマウスの機能を定義 */
    zip_temp_layer: zip_temp_layer {
        compatible = "zmk,input-processor-temp-layer";
        #input-processor-cells = <2>;
    };

    /* リスナーの設定（直接定義） */
    trackball_listener {
        compatible = "zmk,input-listener";
        device = <&trackball>;
        input-processors = 
            <&zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)>,
            <&zip_temp_layer 1 1000>;
    };
};
