
#include "../../../config/keymap.keymap"
#include <input/processors.dtsi>

/ {
    /* オートマウスレイヤーの設定 */
    zip_temp_layer: zip_temp_layer {
        compatible = "zmk,input-processor-temp-layer";
        #input-processor-cells = <2>;
    };

    /* スクロール変換用の設定（usageを削除した修正版） */
    zip_scroll_scaler: zip_scroll_scaler {
        compatible = "zmk,input-processor-scaler";
        #input-processor-cells = <2>;
        type = <0x02>; 
    };

    /* トラックボールの動作を監視するリスナー */
    trackball_listener {
        compatible = "zmk,input-listener";
        device = <&trackball>; 
        input-processors = 
            <&zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)>,
            <&zip_temp_layer 1 1000>,
            <&zip_scroll_scaler 2 2>; 
    };
};
